/* Задаём плавный скролл на всей странице */
html {
  scroll-behavior: smooth;
}

/* Обнуляем поля по умолчанию */
body {
  padding:0;
  margin:0;
  font-family: 'Ubuntu', sans-serif;
  color: 000;
  font-size: 18px;
}

/* Обнуляем настройки заголовков */
h1, h2, h3 {
  padding: 0;
  margin: 0;
}

/* Настраиваем заголовки */
h1 {
  font-family: 'Lobster'; /* Задаём шрифт */
  font-size: 70px; /* Размер */
  text-align: center; /* Выравнивание на странице (по центру) */
  color: #fff; /* Цвет текста */
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #000;
}

/* Скидываем форматирование списков */
ul, li {
  display: block;
  padding:0px;
}

/* Настраиваем контейнер (чтобы потом легче было делать адаптивную версию) */
.container {
  width: 1290px; /* Ширина контейнера */
  margin: 0 auto; /* Выравнивание по середине странице: 0 - сверху и снизу, auto - расстояние по бокам (одинаковое) */
}

/* Настраиваем главный экран - блок с картинкой, заголовком и кнопкой "Поехали!" */
.offer {
  background: url('../img/bg1.jpg') no-repeat center top / cover; /* Вставляем картинку, растягиваем её на весь экран */
  height: 708px; /* Задаём высоту блока */
}

/* Задаём цвет ссылок в меню */
.header a {
  color: #000;
}

/* Настраиваем блок с меню */
.menu {
  display: flex; /*Выравниваем элементы в 1 линию*/
  gap: 38px; /* Расстояние между пунктами меню */
}

.menu li a { /* Настраиваем вид по умолчанию элементов списка (li) и ссылок (a) */
  text-decoration: none; /* Скидываем оформление */
  font-size: 20px; /* Размер шрифта */
  font-family: "Ubuntu", sans-serif; /* Указываем шрифт */
}

/* Настраиваем вид меню */
.nav {
  display: flex; /* Подключаем Flexbox */
  align-items: center; /* Выравниваем элементы по вертикали по центру */
  padding: 9px 0; /* Настраиваем внутренние поля - по 9px сверху и снизу и 0 по бокам*/
}

/* Выравниваем кнопку Whatsapp по левому краю */
.whatsapp {
  margin-left: auto;
}

/* Выравниваем логотип по правому краю */
.logo {
  margin-right: auto;
}

/* Настраиваем заголовок на главном экране */
.offer h1 {
  padding: 212px 0 70px 0; /* Указываем внутренние поля для заголовка - сверху 212px, снизу 70px, по краям 0 */
}

/* Настраиваем кнопку "Поехали!" */
.start { 
  display: flex; /* Подключаем Flexbox */
  margin: 0 auto; /* Выравниваем текст по середине */
  width: 418px; /* Ширина кнопки */
  height: 70px; /* Высота кнопки */
  padding-bottom: 212px; /* Поле снизу кнопки */
  transition: all 0.5s ease; /* Настройки анимации: на все свойства, длится 0,5s, тип анимации ease - плавный */
}

/* Добавляем анимацию при наведении на кнопку */
.start:hover {
  width: 425px; /* Ширина увеличивается на 5px */
  height: 75px; /* Высота увеличится на 5px */
}

/* Настройки блока "О Владе" */
.about {
  background: #03A256; /* Задаём цвет фона */
  height: 400px; /* Задаём высоту блока */
}

.horizon {
    display: flex; /* Подключаем Flexbox, чтобы задать выравнивание по горизонтали */
}

/* Задаём расстояние от картинки с котиком до текста (поле справа) */
.kot {
  margin-right: 30px;
}

/* Задаём высоту картинки с котиком */
.kot img {
  height: 400px;
}

/* Задаём цвет текста в блоке "О Владе" */
.text1 {
  color:#fff;
}

/* Настраиваем заголовок в блоке "О Владе" */
.text1 h1 {
  text-align: left; /* Выравнивание заголовка по левому краю */
  margin: 80px 0 30px 0; /* Задаём расстояние вокруг заголовка (сверху 80px, снизу 30px и по краям 0) */
}

/* Настраиваем заголовок блока о котиках */
.cats h1 {
  color:#03A256; /* Цвет заголовка */
  margin: 100px 0 60px 0; /* Поля вокруг заголовка */
}

/* Подключаем Flexbox, чтобы настроить выравнивание элементов по горизонтали */
.cats {
  display: flex;
}

/* Скидываем оформление ссылок в блоке с котиками */
.cats a {
  text-decoration: none;
}

/* Настраиваем блоки с котиками */
.sec1 {
  width: 25%; /* Задаём ширину */
  text-align: center; /* Выравнивание подзаголовков по центру блоков */
}

/* Настраиваем поля подзаголовков */
.sec1 h2 {
  margin: 40px 0 100px 0;
}

/* Задаём фон блока с описанием приложения */
.app {
background: #FEF2E6;
}

/* Здаём оформаление заголовку блока с приложением */
.app h1 {
  color: #432C1E; /* Цвет текста */
  margin-bottom: 60px; /* Расстояние сверху текста */
  text-align: left; /* Выравниваение по левому краю */
}

/* Настраиваем блок с текстом */
.about_app {
  display: flex; /* Подключаем Flexbox */
  padding: 100px 0; /* Настраиваем поля сверху и снизу по 100px */
}

/* Класс, чтобы задать сереневый цвет нижней строчке в блоке */
.cvet {
  color: #9B54D9;
}

/* Настройка картинки приложения */
.about_app img {
  margin: -100px 0; /* Задаём отрицательную границу сверху и снизу, чтобы картинка не выезжала за края блока */
}

/* Настраиваем блок с выбором еды */
.food h1 { /* Настраиваем заголовок блока */
  color: #03A256; /* Ставим зелёный цвет */
  margin-top: 100px; /* Верхнее поле */
  margin-bottom: 60px; /* Нижнее поле */
}

/* Класс, чтобы настроить порядок картиночек */
.food_item {
display: flex; /* Подключаем Flexbox, чтобы расположить элементы горизонтально и задать им поведение, если контейнер будет меньше */
flex-wrap: wrap; /* Переносим на другую строку картинки, которые не влезли */
justify-content: space-between; /* Распределяем элементы - боковые "прибиты" к краям, остальные равномерно распределяются между ними */
margin-bottom: 100px; /* Расстояние до футера*/
}

/*Настраиваем подписи под картинками*/
.fi p {
  text-align: center; /*Выравниваем текст по центру картинки*/
  font-weight: 700; /* Устанавливаем толщину шрифта, соответствующую начертанию bold (жирный) */
  font-size: 26px; /* Размер шрифта */
}

/* Настраиваем анимацию картинок */
.fi {
  transition: all 0.3s ease; /* Анимировать все свойства, в течение 0,3 секунд, тип ease (плавно) */
}

/* Добавляем анимацию при наведении */
.fi:hover {
opacity: 0.5; /* При наведении мыши на элемент прозрачность элемента станет 50% */
}

/* Настраиваем футер */
.footer {
  display: flex; /* Подключаем Flexbox, чтобы расположить элементы горизонтально */
  background: #161616; /* Устанавливаем фон блока */
  height: 83px; /* Высота блока */
  align-items: center; /* Выравниваем элементы по вертикали по центру */
}

/* Настраиваем оформление пунктов меню в футере */
.footer a {
  text-decoration: none; /* Скидываем оформление по умолчанию */
  color: #fff; /* Шрифт белый */
}

/* Подключаем Flexbox, чтобы расположить пункты меню горизонтально и задать расстояние между ними */
.menu_footer {
  display: flex;
  gap: 38px; /* Расстояние между пунктами меню */
}

.footer_align {
  display: flex; /* Подключаем Flexbox */
  justify-content: center; /* Выравниваем элементы по центру с помощью Flexbox */
}

/* Добавляем медиа-запрос, чтобы подкорректировать настройки адаптивной версии - для экрана, меньше чем 1290px в ширину */
@media (max-width: 1290px) {

.container { /* Делаем ширину контейнера 630, чтобы было красиво на всех планшетах и компьютерах с нешироким экраном */
  width: 630px;
}

h1 {
  font-size: 65px; /* Делаем меньше заголовок h1 */
}

.menu {
  display: flex; /*Выравниваем элементы в 1 линию*/
  gap: 15px; /* Делаем меньше расстояние между элементами */
}

.menu li a {
  font-size: 12px; /* Делаем меньше шрифт */
}

.logo {
  height: 48px; /* Делаем меньше по высоте логотип */
}

.whatsapp img {
  height: 48px; /* Делаем меньше по высоте кнопку с Ватсаппом */
}

.horizon {
  display: block; /* Отключаем Flexbox, чтобы картинка и текст были друг под другом */
}

.about {
  height: 820px; /* Высоту блока "О Владе" делаем больше */
}

.kot {
  padding-top: 80px; /* Добавляем верхнюю границу фото с котиком, чтобы не прилипали к предыдущему блоку */
}

.kot img {
height: 100%; /* Растягиваем картинку на 100% */
}

.text1 h1 {
  margin-top: 20px; /* Добавляем верхнюю границу заголовку */
}

.cats h1 {
  margin-top: 60px; /* Добавляем верхнюю границу заголовку "Выбери кота ..." */
}

/* Настраиваем блок с котиками */
.cats {
  gap:30px; /* Flexbox, Задаём границу между блоками 30px */
  flex-wrap: wrap; /* Flexbox, переносим на другую строку то, что не влезло */
  justify-content: space-between; /* Flexbox, "прибиваем" картинки к разным сторонам экрана */
}

.sec1 {
  width: 260px; /* Задаём ширину блока 260px */
}

.about_app {
  display: block; /* Отключаем Flexbox, чтобы картинка и текст были друг под другом */
}


.about_app img {
margin: 0 92px; /* Задаём боковые границы картинке с приложением */
}

} /* Эта скобочка закрываем медиа-запрос @media */